.body-container {
  font-family: 'Roboto','RobotoDraft',Helvetica,Arial,sans-serif;
  background-color: rgb(242, 229, 243);
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.questions {
  max-width: 90vw; 
  width: 640px;   
}
h1{
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: #202124;
  line-height: 135%;
  max-width: 100%;
  min-width: 0%;  
}
.questions-title{
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 24px;
  padding-top: 22px;
  position: relative; 
}
.questions-title-upper-line{
  background-color: blueviolet;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);  
}
.questions-title p{
  color: orangered;
}
.question {
  transition: background-color 200ms cubic-bezier(0.0,0.0,0.2,1);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  page-break-inside: avoid;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}
.quesion-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.quesion-header p {
  color: orangered;
  font-size: 16px;
  letter-spacing: .1px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 5px;
  word-break: break-word;
}
.quesion-header h2 {
  font-size: 16px;
  letter-spacing: .1px;
  line-height: 24px;
  font-weight: 400;
  word-break: break-word;
}
.choice-answer {
  display: flex;
  flex-grow: 1;
  margin-bottom: 10px;
}
.choice-answer p {
  margin-top: 4px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: #202124;
  min-width: 1px;
}
.checkbox, .radio{
  height: 20px;
  width: 20px;
}
.send-answer {
  background: blueviolet;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  text-transform: none;
  text-align: center;
}

.colmn-diagram {
  margin-top: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 180px;
  background-color: #f0f0f0;
  position: relative;
}

.col-of-diagr{
  align-self: flex-end;
  width:auto;
  background-color: blueviolet;
  bottom: 0px;
  margin-top: 10px; 
  border: 2px solid blueviolet;
}

.free-text-res {
  display: flex;
  flex-direction: column;
  background-color: #dadce0;
}

.amount-free-text, .free-text-answers{
  padding-left: 10px;
}

.free-text-answers {
  background-color: #f0f0f0; 
}

.freq-table{
  display: flex;
  flex-direction: column;
  background-color: #dadce0;
}

.freq-table-elem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.show-stats-detail{
  visibility: hidden;
  width: 120px;
  background-color: rgb(10, 10, 10);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.col-of-diagr:hover .show-stats-detail {
  visibility: visible;
}